/*Header*/
#header {
	font-size: 48px;
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*Masthead*/
#masthead {
	background-color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mhtext {
	text-align: center;
	color: #EEE;
	font-size: 18px;
}
/*Article*/
#article {
	background-color: #EEE;
}
.title {
	font-size: 32px;
}
.author {
	font-size: 18px;
	font-style: italic;
}
.textwrap {
	text-align: justify;
	/*text-indent: 2.5em;*/
	display: inline-block;
}
.imdisp {
	width: 400px;
	float: right;
	display: inline-block;
	margin-left: 20px;
}
/*Upload form*/
.formarea {
	margin: 20px;
}
.formtext {
	font-family: monospace;
	font-size: 16px;
}
/*misc*/
.nolink {
	color: black;
}
/*Previewing articles*/
.preview-image {
	height: 75px;
	float: left;
	display: inline-block;
	padding-right: 5px;
	padding-left: 0px;
}

.preview-dimensions {
	/*max-height: 200px;*/
	border: 1px solid #333;
	padding: 10px;
	border-radius: 5px;
	/*height: 100px;*/
}

.preview-container {
	display: inline-block;
	text-align: justify;
	/*height: 100px;*/
}

.preview-title {
	font-size: 18px;
	font-weight: bold;
}
